/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --accent-text-color: #ff0070;
  --font-title-color: #DB00FF;
  --font-title-decor-color: #000028;
  --font-main-color: #F1B2CE;
  --bg-color: #00183F;
  --bg-image: url(../images/cover-image-dark.png);
}
